
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.2.0.min.js"></script>

    @*<script src="~/scripts/myScript.js"></script>*@
    <script>
        // This is not important anymore but
        // even when I am not including "myScript.js" I have intellicence 
        // if i write part of longFunctionName i will have intellisense
        // because i added myScript.js to the _references.js
        longFunctionName();
        long
    </script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
