<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.2.0.min.js"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            aaaaaaaaaaaaaa
        </div>
        <div class="col-md-6">
            bbbbbbbbbbbbbb
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary"><span class="glyphicon glyphicon-apple">Click here</span></a>
        @* This is from bootstrap icons called glyph icons *@


    </div>
</body>
</html>
