
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="" method="post">

            <input placeholder="رقم الجلوس" name="golosNumber" type="number" />
            <label>المحافظة</label>
            <select name="mohafzaId">
                <option value="1">القاهرة</option>
                <option value="2">الشرقية</option>
            </select>
            
            <input type="submit" value="بحث" />
        </form>
    </div>
</body>
</html>
