
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnotherRequest</title>
</head>
<body>
    <div>
        The temp Ajax is:  @TempData["tempAjax"] <br/>

    </div>
</body>
</html>
