

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThirdRequest</title>
</head>
<body>
    <div>
        The temp data3 is:  @TempData["temp3"] <br/>
    </div>
</body>
</html>
