
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.2.0.min.js"></script>
    
</head>
<body>
    <div>
        Please click this link to go to the second page to check if the tempdata and the viewdata will live or not
        <br />
        @Html.ActionLink("Second Page", "SecondPage")
    </div>
</body>
</html>
