
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecodPage</title>
</head>
<body>
    <div>
        Tempdata: @TempData["key"] <br />
        Viewdata: @ViewData["key"]
    </div>
</body>
</html>
