<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        
    </div>
    <img id="mainImage" src="~/Images/GreenBubbles.jpg"/><br />
    <p id="simpleText">hello</p>
    <input type="button" value="change Image" onclick="changeImage()" />
    <script src="~/Scripts/site.js"></script>
</body>
</html>
