
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.2.0.min.js"></script>
    
</head>
<body>
    <div>
        @* Please run the application to see the the viewstart of the views folder will be executed first 
            then the view start of the home folder then the index page *@
        <p>This is the index</p>
    </div>
</body>
</html>
