
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="@Url.Action("OpenReport", "Home")">Show Report</a>
    </div>
</body>
</html>
