@using ResXManager_for_managing_resources.Resources

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        This message from resources: @Resource.Test
    </div>
</body>
</html>
