
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.2.0.min.js"></script>
    
</head>
<body>
    <div>
        
    </div>
</body>
</html>
