
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/Home/AnotherAction">Another Action</a>
    </div>
</body>
</html>
