
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.2.0.min.js"></script>

    <link href="~/styles/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/styles/bootstrap.min.css" rel="stylesheet" />

    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-prompts-alert.js"></script>
        

    <script>
        $(document).ready(function () {
            alert('hello')
        });

        
        
    </script>
</head>
<body>
    <div>
        a
    </div>
</body>
</html>
