@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        This is the main page <br/>
        Welcome @User.Identity.Name <br />
       
    </div>
</body>
</html>
