
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.2.0.min.js"></script>


    <link href="~/styles/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/styles/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <link href="~/styles/jquery.fancybox-buttons.css" rel="stylesheet" />
    <script src="~/scripts/jquery.fancybox.js"></script>
    <script src="~/scripts/jquery.fancybox.pack.js"></script>

    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                type: 'iframe',
                iframe: {
                    preload: false
                }
            });
        });
    </script>

</head>
<body>
    <div>
        @Html.ActionLink("Load PDF", "GetPDF")
    </div>
</body>
</html>
