
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-1.4.4.js"></script>
    
</head>
<body>
    <div>
        @Html.Action("LoadPartial1")
    </div>
    <div>
        @Html.Action("LoadPartial2")
    </div>
</body>
</html>
