
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DivideByZeroCustomErrorPage</title>
</head>
<body>
    <div>
        A divide by zero exception happened
    </div>
</body>
</html>
