@using DataAccess
@using mvc_template.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
    <body>
        <div>
            This is the main page <br/>
            Welcome @Utility.CurrentUser.Username <br />
       
        </div>
    </body>
</html>
